<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="styles.css"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/f2aeb682ba.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>
<div class="Footer-body">
  <div class = "Footer">
    <div class="Footer_F">
      <div class="row" style="margin-right: 0px;">
        <div class="col about-us">
          <img src="logo.png" class="logo">
          <p>Welcome to Company, where caring professionals are dedicated to your well-being and comfort.
             With our commitment to compassionate care and quality service, 
             we are your trusted partner for all your healthcare needs.</p>
        </div>
        <div class="col service">
          <h3>Services<div class=" "><span></span></div></h3>
          <ul style="padding-left: 0px;">
            <li><a href="">Elder Care</a></li>
            <li><a href="">Nursing Care</a></li>
            <li><a href="">Doctor Consultation</a></li>
            <li><a href="">Lab Test</a></li>
            <li><a href="">Medical Equipments</a></li>
          </ul>
        </div>
        <div class="col contact">
          <h3>Contact<div class=" "><span></span></div></h3>
          <p class="email-id">MedQuick@gmail.com</p>
          <h4>+91-9876543210</h4>
          <button class="enquiry-btn">ENQUIRY NOW</button>
        </div>
        <div class="col follow-us">
          <h3>Follow Us<div class=" "><span></span></div></h3>
          <div class="social-icons">
            <i class="fa-brands fa-linkedin-in"></i>
            <i class="fa-brands fa-github"></i>
          </div>
        </div>
      </div>
      <p class="copyright">Company © 2024 - All Rights Reserved</p>
    </div>
</div>

</div>

