<section id="Footer_H">
  <div class="footer_container">
      <div class="footer_row">
            <div class="footer_col" id="company">
                <img src="images/Logo.png" alt="" class="flogo">
                <p>
                  Welcome to Company, where caring professionals are dedicated to your well-being and comfort.
                </p>
                <div class="fsocial">
                  <a href="#"><i class="fab fa-github"></i></a>
                  <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>


            <div class="footer_col" id="services">
               <h3>Services</h3>
               <div class="flinks">
                  <a href="#">Elder Care</a>
                  <a href="#">Nursing Care</a>
                  <a href="#">Doctor Consultation</a>
                  <a href="#">Medical Equipments Rental</a>
                  <a href="#">Medical Equipments Buy</a>
               </div>
            </div>

            <div class="footer_col" id="useful-links">
               <h3>Links</h3>
               <div class="flinks">
                  <a href="#">About</a>
                  <a href="#">Services</a>
                  <a href="#">Our Policy</a>
                  <a href="#">Help</a>
               </div>
            </div>

            <div class="footer_col" id="contact">
                <h3>Contact</h3>
                <div class="fcontact-details">
                   <i class="fa fa-envelope"></i>
                   <p>MedQuick@gmail.com</p>
                </div>
                <div class="fcontact-details">
                   <i class="fa fa-phone"></i>
                   <p>+919876543210</p>
                </div>
            </div>
      </div>
  </div>
</section>
