<div class="Header2">
    <div class="menu-bar">

        <h1 class="logo"><img src="images/Logo.png" height="100px"></h1>
        
        <ul class="menu">
            <li>
                <a href="#">About Us <i class="fas fa-caret-down"></i></a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a href="/WhatWeDo"><i class="fas fa-tasks"></i> What we do</a></li>
                        <li><a href="/OurTeam"><i class="fas fa-users"></i> Our Team</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#">Medical Equipment <i class="fas fa-caret-down"></i></a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a href="/medicines"><i class="fas fa-truck"></i> Medicines</a></li>
                        <li><a href="/product"><i class="fas fa-shopping-cart"></i> Buy</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#">Our Services <i class="fas fa-caret-down"></i></a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a href="/ElderCare"><i class="fas fa-heartbeat"></i> Elder Care</a></li>
                        <li><a href="/NursingCare"><i class="fas fa-user-nurse"></i> Nursing Care</a></li>
                        <li><a href="/Doctor"><i class="fas fa-user-md"></i> Doctor Consultation</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="/EnquireNow" class="button"> AI </a></li>
            <li><a href="/EnquireNow" class="button"> Enquire Now </a></li>
        </ul>
        <div class="profile-section">
            <% if (SignedIn) { %>
                <a href="/login" class="profile"><i class="fas fa-user-circle"></i> <%= username %> <i class="fas fa-caret-down"></i></a>
            <% } else { %>
                <a href="/login" class="profile"><i class="fas fa-user-circle"></i> Profile <i class="fas fa-caret-down"></i></a>
            <% } %>
            <div class="dropdown-menu">
                <ul>
                    <li><a href="/Profile"><i class="fas fa-edit"></i> Edit Profile</a></li>
                    <li><a href="/cart"><i class="fas fa-shopping-cart"></i> View Cart</a></li>
                    <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a></li>
                    <li><a href="#" class="translate-option"><i class="fas fa-globe"></i> Translate<div id="google_translate_element"></div></a></li>
                </ul>
            </div>
        </div>
        <div class="menu-toggle"><i class="fas fa-bars"></i></div>
    </div>
</div>
<script src="script.js"></script>
      <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                {pageLanguage: 'en'},
                'google_translate_element'
            );
        } 
  </script>
  <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

