<!-- sidebar -->
<div class="col-md-3 col-lg-2 px-0 position-fixed h-100 bg-white shadow-sm sidebar" id="sidebar">
    <h1 class="bi bi-bootstrap text-primary d-flex my-4 justify-content-center"></h1>
    <div class="list-group rounded-0">
        <a href="/admin" class="list-group-item list-group-item-action active border-0 d-flex align-items-center">
            <span class="bi bi-border-all"></span>
            <span class="ml-2">Dashboard</span>
        </a>
        <a href="/admin/AddProducts" class="list-group-item list-group-item-action border-0 align-items-center">
            <span class="bi bi-box"></span>
            <span class="ml-2">Add Products</span>
        </a>
        <a href="/admin/AllUsers" class="list-group-item list-group-item-action border-0 align-items-center">
            <span class="bi bi-box"></span>
            <span class="ml-2">All Users</span>
        </a>
        <a href="/admin/RevenueGenrated" class="list-group-item list-group-item-action border-0 align-items-center">
            <span class="bi bi-box"></span>
            <span class="ml-2">Revenue Genrated</span>
        </a>
    </div>
</div>

<body class="user-table-body">
    <div class="user-table-container">
        <h2>User Information</h2>
        <table class="user-table">
            <thead>
                <tr class="user-table-row">
                    <th class="user-table-header">Username</th>
                    <th class="user-table-header">Email</th>
                    <th class="user-table-header">ID</th>
                    <th class="user-table-header">Created At</th>
                </tr>
            </thead>
            <tbody>
                <tr class="user-table-row">
                    <td class="user-table-cell">user1</td>
                    <td class="user-table-cell">user1@example.com</td>
                    <td class="user-table-cell">001</td>
                    <td class="user-table-cell">2023-07-20 10:30:00</td>
                </tr>
                <tr class="user-table-row">
                    <td class="user-table-cell">user2</td>
                    <td class="user-table-cell">user2@example.com</td>
                    <td class="user-table-cell">002</td>
                    <td class="user-table-cell">2023-07-21 11:00:00</td>
                </tr>
                <tr class="user-table-row">
                    <td class="user-table-cell">user3</td>
                    <td class="user-table-cell">user3@example.com</td>
                    <td class="user-table-cell">003</td>
                    <td class="user-table-cell">2023-07-22 12:15:00</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>