<div class="main-wrapper">
    <div class="container">
        <div class="product-div">
            <div class="product-div-left">
                <div class="hover-container">
                    <div><img src="/<%= product.image %>" alt="thumbnail1"></div>
                </div>
                <div id="imageZoom" class="img-container">
                    <img id="main-image" src="/<%= product.image %>" alt="watch">
                </div>
            </div>
            <div class="product-div-right">
                <span class="product-name">Product name</span>
                <p class="product-description">Product Description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae animi ad minima veritatis dolore. Architecto facere dignissimos voluptate fugit ratione molestias quis quidem exercitationem voluptas.</p>
                <p class="usage-description">Usage Description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae animi ad minima veritatis dolore. Architecto facere dignissimos voluptate fugit ratione molestias quis quidem exercitationem voluptas.</p>
                <span class="product-price">Rs. 1000</span>
                <span class="product-stock">In Stock</span>
                <div class="btn-groups">
                    <button type="button" class="add-cart-btn"><i class="fas fa-shopping-cart"></i>add to cart</button>
                    <button type="button" class="buy-now-btn"><i class="fas fa-wallet"></i>buy now</button>
                </div>
            </div>
        </div>
    </div>
</div>