
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/f2aeb682ba.js" crossorigin="anonymous"></script>
</head>
<section id="OurTeamH">
    <h1>Our Team</h1>
    <div class="containerteam">
        <div class="our-team">
            <div class="teampic">
                <img src="Samarth.png" alt="">
            </div>
            <div class="team-content">
                <h3 class="teamtitle">Samarth Ghante</h3>
            </div>
            <ul class="teamsocial">
                <li><a href="#"><i class="fab fa-github"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>
        <div class="our-team">
            <div class="teampic">
                <img src="Kanishk.png" alt="">
            </div>
            <div class="team-content">
                <h3 class="teamtitle">Kanishk Kumar</h3>
            </div>
            <ul class="teamsocial">
                <li><a href="#"><i class="fab fa-github"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>
        <div class="our-team">
            <div class="teampic">
                <img src="harshali.jpg" alt="">
            </div>
            <div class="team-content">
                <h3 class="teamtitle">Harshali Patil</h3>
            </div>
            <ul class="teamsocial">
                <li><a href="#"><i class="fab fa-github"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>
        
    </div>
    <div class="containerteam">
        <div class="our-team">
            <div class="teampic">
                <img src="Satya.png" alt="">
            </div>
            <div class="team-content">
                <h3 class="teamtitle">Satyajit Borade</h3>
            </div>
            <ul class="teamsocial">
                <li><a href="#"><i class="fab fa-github"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>
        <div class="our-team">
            <div class="teampic">
                <img src="parnika.jpg" alt="">
            </div>
            <div class="team-content">
                <h3 class="teamtitle">Parnika Maskar</h3>
            </div>
            <ul class="teamsocial">
                <li><a href="#"><i class="fab fa-github"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>
        <div class="our-team">
            <div class="teampic">
                <img src="" alt="">
            </div>
            <div class="team-content">
                <h3 class="teamtitle">Abhinav Mehta</h3>
            </div>
            <ul class="teamsocial">
                <li><a href="#"><i class="fab fa-github"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>
        
    </div>
</section>
</html>
