<section id="ProfileBody">
    <div class="profile-container">
        <div class="profile-header">
            <div>
                <h1>Name Surname</h1>
                <p class="label">Date of Birth: January 1, 1980</p>
            </div>
            <a href="/editProfile/<%= currentUser_Id %>" class="edit-icon">&#x270F;</a>
        </div>

        <div class="profile-section">
            <h2><span class="icon">&#128100;</span>Personal Information</h2>
            <p class="label">Address:</p>
            <p>123 Main St, City, Country</p>

            <p class="label">Email Address:</p>
            <p>john.doe@example.com</p>
        </div>

        <div class="profile-section">
            <h2><span class="icon">&#128137;</span>Diagnosis Details</h2>
            <div class="diagnosis">
                <p>diagnosis details here. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, reprehenderit similique hic eligendi alias quos incidunt deserunt, saepe quia velit, consequuntur quam. Consequatur iure maxime atque inventore quas similique esse?</p>                
            </div>
        </div>
    </div>
</body>