<div id="WhatWeDo">
    <div class="services-all">  
        <div class="services-body">
            <h1>Our services</h1>
            <div class="row">
                <div class="service-grid">
                    <div class="service-item">
                        <i class="fas fa-user-nurse"></i>
                        <h3>Nursing Care</h3>
                        <p>Receive professional nursing care at home with our skilled nurses, ensuring safety and well-being tailored to individual needs.</p>
                    </div>
                    <div class="service-item">
                        <i class="fas fa-hands-helping"></i>
                        <h3>Elder Care</h3>
                        <p>Enhance the quality of life for seniors with our compassionate caregivers who assist with daily activities and provide companionship.</p>
                    </div>
                    <div class="service-item">
                        <i class="fas fa-procedures"></i>
                        <h3>Medical Rental & Purchase</h3>
                        <p>Rent or buy high-quality medical equipment, from wheelchairs to hospital beds, tailored to your specific needs.</p>
                    </div>
                    <div class="service-item">
                        <i class="fas fa-user-md"></i>
                        <h3>Doctor Consultation</h3>
                        <p>Get expert medical advice from experienced doctors for routine check-ups or specialized care</p>
                    </div>
                    <div class="service-item">
                        <i class="fas fa-headset"></i>
                        <h3>24/7 Support</h3>
                        <p>Access professional support 24/7 with our dedicated team, providing immediate and reliable care for your peace of mind.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>