/* Add this CSS to your stylesheet to increase the padding and font sizes */

article.p-5 {
  padding: 2rem !important;
}

article h4 {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.jumbotron .display-4 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.jumbotron .p-4 {
  padding: 2rem !important;
}

.jumbotron .pt-4 {
  padding-top: 1.5rem !important;
}

.bd-placeholder-img {
  width: 40px;
  height: 40px;
}

.large {
  font-size: 1.15rem;
  line-height: 1.5;
}
.pb-4{
  width: 1000px;
  overflow-x: hidden;
}
/* All Users Parnika */
.bg-white{
  top: 0;
  left: 0;
}
.user-table-body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  box-sizing: border-box;
}
.user-table-container {
  width: 80%; /* Adjust this value to control the left and right gap */
  max-width: 1000px; /* Optional: maximum width of the table */
}
.user-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}
.user-table-header, .user-table-cell {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}
.user-table-header {
  background-color: #007bff;
  color: #fff;
}
.user-table-row:nth-child(even) {
  background-color: #f2f2f2;
}
.user-table-row:hover {
  background-color: #a6c7e9;
}